* {
}

body {
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0px;
    padding: 20px;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    color: #fff;
    margin-top: 160px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);
}

.container {
    width: 800px;
    height: 500px;
    background-color: transparent;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    z-index: -1;
    opacity: 100%;
    margin-top: 80px;

    border: 2px solid white;
}

.coutdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    9px -4px 10px rgba(255,255,255,0.3);
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.3rem;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);
}